body{
    margin: 0 auto;
    width: 80vw;
    font-family: sans-serif;
    
}

header{
    display: flex;
    background: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5),  rgba( 255, 255, 255, 0.5)), url("imagem/work.jpg"); 
    background-size: conver;   
}


div button>img{
    background-color: tomato;
    width: 20px;
    height: 30px;
}

.menu{
    display: flex;
    align-items: 



}
